<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.daenx.myauth.main.mapper.DataMapper">
    <select id="getDataRanking" resultType="cn.daenx.myauth.base.vo.DataRanking">
        select type,content,count(0) AS num
        from ma_data
        where from_soft_id = #{fromSoftId}
        group by content,type
        order by count(0) desc
        LIMIT #{pageIndex},#{pageSize}
    </select>
    <select id="getDataRankingCount" resultType="integer">
        SELECT
            COUNT( 0 )
        FROM
                ( SELECT type FROM ma_data WHERE from_soft_id = #{fromSoftId} GROUP BY content, type ) d
    </select>
</mapper>
